@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
:root{
  --text-color:#FFFFFF;
  --header-bg:#711A75;
  --primary-color:#F10086;
}
body {
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E1E1E;
  height: 100vh;
  width: 100vw;
}
#root{
  width: 100%;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
